.LoginBox{
    width: 400px;
    height: 200px;
    top:0;
    left:0;
    background-color: darkgray;
    border: black;
    border-width: 0.2px;
    border-style: solid;
    float: center;

}

.AddBox{    
    width: 1000px;
    height: 200px;
    top:0;
    left:0;
    background-color: darkgray;
    border: black;
    border-width: 0.2px;
    border-style: solid;
    float: left;
}

.WeaponsContainer{
    width: 49%;
    height: 200px;
    top:0;
    left:0;
    background-color: darkgray;
    border: black;
    border-width: 0.2px;
    border-style: solid;
    float: left;
}

.PersonalData{
    width: 300px;
    height: 400px;
    top:0;
    left:0;
    background-color: darkgray;
    border: black;
    border-width: 0.2px;
    border-style: solid;
    float: left;
}

.Attributes{
        width: 601px;
        height: 400px;
        top:0;
        left:0;
        background-color: darkgray;
        border: black;
        border-width: 0.2px;
        border-style: solid;
        float: left; 
}

.AttributesColumn{
    width: 300px;
    height: 335px;
    top:0;
    left:0;
    background-color: darkgray;
    float: left;

}

.header{
    font-size: 20px;
}

.personalDataText{
    padding-left: 10px;
}